# Python
venv/
**/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
.env
.env.*

# Node/React
node_modules/
**/node_modules/
build/
dist/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Project-specific files
references.txt
gridbug.txt 